<%= form_for(@shame) do |f| %>
  <% if @shame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shame.errors.count, "error") %> prohibited this shame from being saved:</h2>

      <ul>
      <% @shame.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
