<div>
<p>You have <%= @user.shame_points %> shame points</p>

<p>Your message:</p>
  <%= form_for(@wall_posts) do |f| %>
    <%= f.text_area :post, :class => "auto-submit" %>
    <%= f.hidden_field :id %>
  <% end %>
</div>

<script>
  $(document).ready(function() {
    $('.auto-submit').change(function() {
      $(this).parents($('form')).submit();
    });
  });
</script>
